.team-section {
  @include section;

  .heading {
    margin-bottom: $spacing-md;
  }

  .sub-heading {
    margin-bottom: $spacing-xl;

    @include respond(mobile) {
      font-size: 16px;
    }
  }

  .card-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond(tablet) {
      justify-content: center;
      gap: $spacing-lg;
    }

    .member-card {
      position: relative;
      width: calc(25% - 24px);
      height: 500px;
      border-radius: $radius-lg;
      overflow: hidden;

      &:hover {
        .image-container {
          transform: scale(1.1);
        }

        .overlay {
          opacity: 0;
        }

        .hover-overlay {
          opacity: 1;
        }
      }

      /* ============================= */
      /* TABLET: 2 PER ROW */
      /* ============================= */

      @include respond(tablet) {
        width: calc(50% - #{$spacing-lg} / 2);
        height: 420px;
      }

      /* ============================= */
      /* MOBILE: 1 PER ROW */
      /* ============================= */

      @include respond(mobile) {
        width: 100%;
        height: 380px;
      }

      .image-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .overlay {
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          transparent 60%,
          rgba($color-primary, 1) 100%
        );
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        pointer-events: none;

        @include respond(mobile) {
          padding: 24px 20px;
        }

        .name {
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          margin: 4px 0;
          color: $color-white;

          @include respond(mobile) {
            font-size: 18px;
            line-height: 24px;
          }
        }

        .role {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: $color-accent;

          @include respond(mobile) {
            font-size: 14px;
          }
        }
      }

      .hover-overlay {
        width: 100%;
        height: 100%;
        background: rgba($color-primary, 0.9);
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;
        position: absolute;
        top: 0; 
        opacity: 0;

        @include respond(mobile) {
          padding: 24px 20px;
        }

        .name {
          font-size: 28px;
          font-weight: 700;
          line-height: 32px;
          margin: 4px auto;
          color: $color-white;

          @include respond(mobile) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        .role {
          font-size: 24px;
          font-weight: 500;
          line-height: 24px;
          margin: 4px auto;
          color: $color-accent;

          @include respond(mobile) {
            font-size: 16px;
          }
        }

        .info {
          margin-top: $spacing-lg;

          .property {
            color: $color-gray-600;
            font-size: 14px;
            font-weight: 700;
          }

          .value {
            color: $color-white;
            font-size: 18px;

            @include respond(mobile) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
