.why-section {
  @include section;
  display: flex;
  justify-content: space-between;
  gap: 60px;

  /* ============================= */
  /* LAPTOP */
  /* ============================= */

  @include respond(laptop) {
    gap: 40px;
  }

  /* ============================= */
  /* TABLET */
  /* ============================= */

  @include respond(tablet) {
    flex-direction: column;
    gap: 48px;
  }

  /* ============================= */
  /* CONTENT */
  /* ============================= */

  .content-container {
    width: 48%;

    @include respond(tablet) {
      width: 100%;
    }
  }

  /* ============================= */
  /* IMAGE */
  /* ============================= */

  .image-container {
    width: 48%;

    @include respond(tablet) {
      width: 100%;
      height: 400px;
    }

    @include respond(mobile) {
      height: 280px;
    }

    img {
      border-radius: $radius-lg;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* ============================= */
  /* HEADINGS */
  /* ============================= */

  .heading,
  .sub-heading,
  .section-sub-title {
    text-align: left;
    margin-bottom: $spacing-md;

    @include respond(tablet) {
      text-align: center;
    }
  }

  .sub-heading {
    @include respond(mobile) {
      font-size: 16px;
    }
  }

  .section-sub-title {
    @include respond (tablet) {
      margin: auto;
      margin-bottom: $spacing-md;
    }
  }

  /* ============================= */
  /* CARD GRID */
  /* ============================= */

  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $spacing-md;
    margin-top: $spacing-lg;

    @include respond(tablet) {
      justify-content: center;
    }

    @include respond(mobile) {
      gap: $spacing-sm;
    }

    .why-card {
      width: calc(50% - #{$spacing-lg} / 2);
      padding: 24px 30px;
      display: flex;
      flex-direction: column;
      border-radius: $radius-lg;
      font-family: $font-primary;

      &:hover {
        background: $color-gray-300;
      }

      /* ============================= */
      /* TABLET CARD FULL WIDTH */
      /* ============================= */

      // @include respond(tablet) {
      //   width: 100%;
      // }

      @include respond(mobile) {
        padding: 20px;
      }

      .icon-container {
        width: 50px;
        height: 50px;
        border-radius: $radius-md;
        @include flex-center;
        margin-bottom: $spacing-md;
        background-color: rgba($color-accent, 0.2);

        @include respond(mobile) {
          width: 44px;
          height: 44px;
        }

        .icon {
          width: 30px;
          height: 30px;

          @include respond(mobile) {
            width: 24px;
            height: 24px;
          }
        }
      }

      .card-heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: $spacing-sm;

        @include respond(mobile) {
          font-size: 18px;
        }
      }

      .card-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;

        @include respond(mobile) {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
  }
}
